{% extends "seller/dashboard.html" %}

{% load static %} 

{% block title %}
    Addresses
{% endblock title %}

{% block style %}
    {{ block.super }}
    
{% endblock style %}


{% block seller_content %}

 <!--Addresses-->
<div class="w-full md:w-3/4 p-4">
    <div id="addresses" class="content-section bg-white p-6 rounded-xl shadow-lg ">
        <h2 class="text-2xl font-semibold text-gray-900 mb-6 flex items-center">
            <!-- Icon placeholder for MapPin -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-3 text-primary-500 fill-primary-500/20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                <circle cx="12" cy="10" r="3"></circle>
            </svg>
            My Saved Addresses
        </h2>
        
        <div class="space-y-4">
            <!-- Default Address -->
            <div class="p-4 border-2 border-primary-500 rounded-lg relative">
                <span class="absolute top-[-10px] left-3 bg-primary-500 text-white text-xs font-bold px-2 py-0.5 rounded-full">DEFAULT</span>
                <p class="font-bold text-gray-900 mt-2">{{ default_address.address_type|capfirst }} Address (Shipping & Billing)</p>
                <p class="text-gray-700">{{ default_address.address_line_1 }}, {{ default_address.address_line_2 }}</p>
                <p class="text-gray-700">{{ default_address.city }}, {{ default_address.state }} {{ default_address.zip_code }}</p>
                <p class="text-gray-700">{{ default_address.country }}</p>
                <p class="text-gray-700">{{ default_address.phone_number }}</p>
                <div class="mt-3 flex space-x-4">
                    <a href="{% url 'seller_addresse_edit' default_address.id %}" class="text-sm text-primary-500 font-medium hover:underline transition">Edit</a>
                    <a href="{% url 'delete_address' default_address.id %}" class="text-sm text-gray-500 hover:text-red-500 transition">Delete</a>
                </div>
            </div>

            {% if addresses %}
                {% for address in addresses %}
                    <div class="p-4 border-2 border-primary-500 rounded-lg relative">
                        <p class="font-bold text-gray-900 mt-2">{{ address.address_type|capfirst }} Address (Shipping & Billing)</p>
                        <p class="text-gray-700">{{ address.address_line_1 }}, {{ address.address_line_2 }}</p>
                        <p class="text-gray-700">{{ address.city }}, {{ address.state }} {{ address.zip_code }}</p>
                        <p class="text-gray-700">{{ address.country }}</p>
                        <p class="text-gray-700">{{ address.phone_number }}</p>
                        <div class="mt-3 flex space-x-4">
                            <a href="{% url 'seller_addresse_edit' address.id %}" class="text-sm text-primary-500 font-medium hover:underline transition">Edit</a>
                            <a href="{% url 'delete_address' address.id %}" class="text-sm text-gray-500 hover:text-red-500 transition">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            
            <button id="add-address-btn" class="w-full border-2 border-dashed border-gray-300 text-gray-500 py-3 rounded-lg hover:bg-gray-100 transition flex items-center justify-center space-x-2">
                <i class="fa fa-minus"></i>
                <span>Add New Address</span>
            </button>
            <div id="add-address-element" class="p-4 border-2 border-primary-500 rounded-lg relative">
                <p class="font-bold text-gray-900">New Address Form</p>
                {% if address_id %}
                <form method="POST" class="space-y-8" action="{% url 'seller_addresse_edit' address_id %}">
                {% else %}
                <form method="POST" class="space-y-8" action="{% url 'seller_addresses' %}">
                {% endif %}
                    {% csrf_token %}
                    {{ form }}
                    <div class="flex justify-end gap-4">
                        <button type="submit" 
                                class="bg-primary border border-transparent hover:bg-transparent hover:border-primary text-white hover:text-primary font-semibold py-2 px-4 rounded-full">
                            Save Address
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock seller_content %}

{% block script %}
    {{ block.super }}
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const newAddressFormToggleButton = document.getElementById('add-address-btn');
            newAddressFormToggleButton.addEventListener('click', function(){
                const iconElement = this.querySelector('i.fa');
                document.getElementById('add-address-element').toggleAttribute('hidden');
                if(iconElement){
                    iconElement.classList.toggle('fa-plus');
                    iconElement.classList.toggle('fa-minus');
                }
            });
        });
    </script>
{% endblock script %}
