{% extends 'account/base.html' %}
{% load static %}

{% load core_filters %}

{% block title %} Cart Items {% endblock %}

{% block style %}
    <style>
        button.swal2-confirm{
            background: #ff0042;
            border-radius: 50px;
        }
        .swal2-actions {
            gap: 12px;
        }
        .swal2-cancel {
            background: #ffffff;
            border: 1px solid black;
            border-radius: 50px;
            color: black;
        }
    </style>
{% endblock style %}

{% block content %}

<section id="cart-page" class="bg-white py-16">
        <div class="container mx-auto px-4">
            <h1 class="text-2xl font-semibold mb-4">Shopping Cart</h1>
            <div class="flex flex-col md:flex-row gap-4">
                <div class="md:w-3/4">
                    <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                        <div class="overflow-x-auto">
                            <table class="w-full">
                                <thead>
                                    <tr>
                                        <th class="text-center md:text-left font-semibold">Product</th>
                                        <th class="text-center font-semibold">Price</th>
                                        <th class="text-center font-semibold">Quantity</th>
                                        <th class="text-center font-semibold">Total</th>
                                        <th class="text-center font-semibold">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="cart-items">
                                    {% if items %}
                                        {% for item in items %}
                                        <tr class="pb-4 border-b border-gray-line">
                                            <td class="px-1 py-4">
                                                <div class="flex items-center flex-col sm:flex-row text-center sm:text-left">
                                                    {% if item.product.images.first %}
                                                        <a href="{% url 'product_detail' item.product.id %}">
                                                            <img class="h-16 w-16 md:h-24 md:w-24 sm:mr-8 mb-4 sm:mb-0" src="{{ item.product.images.first.image.url }}" alt="Product image">
                                                        </a>
                                                        {% else %}
                                                        <img class="h-16 w-16 md:h-24 md:w-24 sm:mr-8 mb-4 sm:mb-0" src="{% static 'images/no-image.png' %}" alt="No image">
                                                    {% endif %}
                                                    <a href="{% url 'product_detail' item.product.id %}" class="text-sm md:text-base md:font-semibold line-clamp-2 px-1">{{ item.product.name | break_after_words:8 | safe }}</a>
                                                </div>
                                            </td>
                                            <td class="px-1 py-4 text-center">${{ item.product.discount_price }}</td>
                                            <td class="px-1 py-4 text-center">
                                                <div class="flex items-center justify-center">
                                                    <button data-price="{{ item.product.discount_price }}" data-quantity="{{ item.quantity }}" class="cart-decrement-btn border border-primary bg-primary text-white hover:bg-transparent hover:text-primary rounded-full w-10 h-10 flex items-center justify-center">-</button>
                                                    <p class="quantity text-center w-8">{{ item.quantity }}</p>
                                                    <button data-price="{{ item.product.discount_price }}" data-quantity="{{ item.quantity }}" class="cart-increment-btn border border-primary bg-primary text-white hover:bg-transparent hover:text-primary rounded-full w-10 h-10 flex items-center justify-center">+</button>
                                                </div>
                                            </td>
                                            <td data-product-id="{{ item.product.id }}" class="total-price-td px-1 py-4 text-center">${{ item.product.discount_price | mul:item.quantity }}</td>
                                            <td class="px-1 py-2 text-center">
                                                <button data-url="{% url 'remove_from_cart' item.product.id %}" class="remove-from-cart-btn bg-gray-800 text-black text-xl hover:bg-transparent hover:text-gray-500 rounded-full w-10 h-10"><i class="fas fa-times-circle" title="Remove from cart"></i></button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="4" class="py-12 text-center text-lg text-gray-500 font-medium">
                                            No items added to cart
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <div class="px-1 flex flex-col lg:flex-row justify-between items-center mt-10">
                                <div class="flex items-center">
                                    <input type="text" placeholder="Coupon code" class="border border-gray-300 rounded-l-full py-2 px-4 focus:outline-none">
                                    <button class="bg-primary text-white border border-primary hover:bg-transparent hover:text-primary rounded-r-full py-2 px-4">Apply Coupon</button>
                                </div>
                                <div class="mt-4 lg:mt-0 flex space-x-2">
                                    <button id="empty-cart-btn" data-url="{% url 'empty_cart' %}" class="bg-primary text-white border border-primary hover:bg-transparent hover:text-primary rounded-full py-2 px-4">Empty Cart</button>
                                    <button id="update-cart-btn" class="bg-primary text-white border border-primary hover:bg-transparent hover:text-primary rounded-full py-2 px-4">Update Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md:w-1/4">
                    <div class="bg-white rounded-lg shadow-md p-6">
                        <h2 class="text-lg font-semibold mb-4">Summary</h2>
                        <div class="flex justify-between mb-4">
                            <p>Subtotal</p>
                            <p id="sub-total">${{ sub_total|default:0 }}</p>
                        </div>
                        <div class="flex justify-between mb-4">
                            <p>Taxes</p>
                            <p id="taxes" data-tax-percent="{{ tax_percent }}">${{ taxes|default:"0" }}</p>
                        </div>
                        <div class="flex justify-between mb-4 pb-4 border-b border-gray-line">
                            <p>Shipping</p>
                            <p id="shipping-charge" data-shipping="{{ shipping_charge }}">${{ shipping_charge|default:0 }}</p>
                        </div>
                        <div class="flex justify-between mb-2">
                            <p class="font-semibold">Total</p>
                            <p id="grand-total" class="font-semibold">${{ total|default:0 }}</p>
                        </div>
                        <a href="{% url 'checkout' %}" class="bg-primary text-white border hover:border-primary hover:bg-transparent hover:text-primary py-2 px-4 rounded-full mt-4 w-full text-center block">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function() {

        // Empty Cart
        document.getElementById('empty-cart-btn').addEventListener('click', (event)=>{
            const button = event.currentTarget;
            const url = button.dataset.url;
            if(url){
                confirmAction({
                    title: 'Empty Cart?',
                    text: 'This will remove all the items form cart. Are you absolutely certain?',
                    confirmText: 'Yes, Empty It',
                    confirmUrl: url,
                });
            }else{
                console.log('Url not found on remove button.');
            }
        })

        // Remove item form cart
        const removeFromCartBtns = document.querySelectorAll('.remove-from-cart-btn');
        removeFromCartBtns.forEach(removeFromCartBtn => {
            removeFromCartBtn.addEventListener('click', function(){
                const removeUrl = removeFromCartBtn.dataset.url;
                 if(removeUrl){
                    confirmAction({
                        title: 'Remove From Cart?',
                        text: 'This will remove the product form cart. Are you absolutely certain?',
                        confirmText: 'Yes, REMOVE IT',
                        confirmUrl: removeUrl,
                    });
                }else{
                    console.log('Url not found on remove button.');
                }
            });
        });
    });
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  document.querySelectorAll('.cart-increment-btn').forEach(button => {
      button.addEventListener('click', function () {
          let quantityElement = this.previousElementSibling;
          let quantity = parseInt(quantityElement.textContent, 10);
          quantityElement.textContent = quantity + 1;
            calculateTotal(button);
            updateCartTotals();
      });
  });

  document.querySelectorAll('.cart-decrement-btn').forEach(button => {
      button.addEventListener('click', function () {
          let quantityElement = this.nextElementSibling;
          let quantity = parseInt(quantityElement.textContent, 10);
          if (quantity > 1) {
              quantityElement.textContent = quantity - 1;
          }
          calculateTotal(button);
          updateCartTotals();
      });
  });

  // update cart
  document.getElementById("update-cart-btn").addEventListener('click', function(){
        const cartData = [];
        document.querySelectorAll(".total-price-td").forEach(totalPriceElement => {
            cartData.push({
                'product_id': totalPriceElement.dataset.productId,
                'quantity': parseInt(totalPriceElement.closest('tr').querySelector('.quantity').textContent),
            });
        });

        const fd = new FormData();
        fd.append('cart_data', JSON.stringify(cartData))
        
        fetch("{% url 'update_cart' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': CSRF_TOKEN,
            },
            body: fd,
        })
        .then(res => res.json())
        .then(data => {
            if (data.success){
                showToast('success', data.message);
            }else{
                showToast('error', 'Failed to update cart.');
            }
        })
        .catch(err => {
            showToast('error', "Error! Something went wrong: " + err)
        });
  });
});

function calculateTotal(button){
    const itemPrice = button.dataset.price;
    const quantityElement = button.closest('div').querySelector('.quantity');
    const quantity = parseInt(quantityElement.textContent, 10);
    const totalPrice = (quantity * itemPrice).toFixed(2);
    button.closest('tr').querySelector('.total-price-td').textContent = `$${totalPrice}`;
}

function calculateGrandSubTotal() {
    let grandTotal = 0;

    document.querySelectorAll(".total-price-td").forEach(td => {
        const priceString = td.textContent.replace('$', '').trim(); 
        const itemTotal = parseFloat(priceString);
        if (!isNaN(itemTotal)) {
            grandTotal += itemTotal;
        }
    });

    return grandTotal;
}

function updateCartTotals() {
    const grandSubTotal = calculateGrandSubTotal();

    const subTotalElement = document.getElementById("sub-total");
    const taxElement = document.getElementById('taxes');
    const shippingElement = document.getElementById('shipping-charge');

    let taxPercent = parseFloat(taxElement.dataset.taxPercent);
    const shippingCharge = parseFloat(shippingElement.dataset.shipping);
    
    const grandTotalElement = document.getElementById("grand-total");

    let newTax = (grandSubTotal * taxPercent) / 100;
    
    const grandTotal = grandSubTotal + shippingCharge + newTax;

    subTotalElement.textContent = `$${grandSubTotal.toFixed(2)}`;
    taxElement.textContent = `$${newTax.toFixed(2)}`;
    grandTotalElement.textContent = `$${grandTotal.toFixed(2)}`;
}

</script>
{% endblock script %}