{% load static %} 
{% load seller_extras %}

<div id="dashboard-menu" class="w-full md:w-1/4 p-4 hidden md:block">
    <div class="bg-white p-6 rounded-xl shadow-lg  sticky top-4">
        <div class="flex flex-col items-center border-b pb-4 mb-4">
            <div class="w-24 h-24 rounded-full bg-gray-200 flex items-center justify-center overflow-hidden mb-3 border-4 border-primary-500 relative">
                
                <img id="profilePicPreview" 
                src="{{ user.profile_pic.url }}"  
                alt="Profile" 
                class="w-full h-full object-cover" 
                onerror="this.onerror=null; this.src='https://placehold.co/80x80/F00060/ffffff?text=Dp';">
                
                <button id="changePicBtn" 
                        class="absolute right-0 mt-10 bg-primary-600 text-white p-2 rounded-full hover:bg-primary-700">
                    <i data-lucide="camera" class="mt-4"></i>
                </button>
                <input type="file" id="profilePicInput" class="hidden" accept="image/*">
            </div>
            <p class="text-lg font-semibold text-gray-900">{{ user.name }}</p>
            <p class="text-sm text-gray-500">{{ user.email }}</p>
        </div>
        <div class="space-y-2">
            <!-- Navigation Menu -->
            <nav class="space-y-1">
                <!-- Navigation Item -->
                <a href="{% url 'customer_dashboard' %}" 
                class="nav-link flex items-center p-3 rounded-lg font-medium transition duration-150 {% is_active_nav 'customer_dashboard' %} {% if not 'active' in class %}text-gray-700 hover:bg-gray-100{% endif %}" 
                data-icon="User">
                    <span data-lucide="User" class="w-5 h-5 mr-3"></span>
                    My Profile
                </a>
                
                <a href="{% url 'customer_order_history' %}" class="nav-link flex items-center p-3 rounded-lg font-medium transition duration-150 {% is_active_nav 'customer_order_history' %} {% if not 'active' in class %}text-gray-700 hover:bg-gray-100{% endif %}" data-icon="Package">
                    <span data-lucide="Package" class="w-5 h-5 mr-3"></span>
                    Order History
                </a>
                <a href="{% url 'customer_wish_lists' %}" class="nav-link flex items-center p-3 rounded-lg font-medium transition duration-150 {% is_active_nav 'customer_wish_lists' %} {% if not 'active' in class %}text-gray-700 hover:bg-gray-100{% endif %}" data-icon="Heart">
                    <span data-lucide="Heart" class="w-5 h-5 mr-3"></span>
                    My Wishlist
                </a>
                <a href="{% url 'customer_addresses' %}"  class="nav-link flex items-center p-3 rounded-lg font-medium transition duration-150 {% is_active_nav 'customer_addresses' %} {% if not 'active' in class %}text-gray-700 hover:bg-gray-100{% endif %}" data-icon="MapPin">
                    <span data-lucide="map-pin" class="w-5 h-5 mr-3"></span>
                    Saved Addresses
                </a>
                <a href="{% url 'customer_account_settings' %}" class="nav-link flex items-center p-3 rounded-lg font-medium transition duration-150 {% is_active_nav 'customer_account_settings' %} {% if not 'active' in class %}text-gray-700 hover:bg-gray-100{% endif %}" data-icon="Settings">
                    <span data-lucide="Settings" class="w-5 h-5 mr-3"></span>
                    Account Settings
                </a>
            </nav>
        </div>
    </div>
    
</div>