{% extends 'account/base.html' %}
{% load static %}

{% block title %}MyStore | Password Reset {% endblock %}

{% block content %}

  <section id="register-login-page" class="bg-white py-16">
        <div class="container mx-auto px-4">
            <div class="flex justify-center">
                <div class="w-full md:w-1/2 bg-white rounded-lg shadow-md p-4 md:p-10 md:m-10">
                    <h2 class="text-2xl font-semibold mb-4">Password Reset</h2>
                    <form>
                        <div class="mb-3">
                            <label for="password" class="block ">Password</label>
                            <input type="password" id="password" class="w-full px-3 py-1 border  rounded-full focus:border-transparent focus:outline-none focus:ring-2 focus:ring-primary" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="block ">Confirm Password</label>
                            <input type="password" id="confirm_password" class="w-full px-3 py-1 border  rounded-full focus:border-transparent focus:outline-none focus:ring-2 focus:ring-primary" required>
                        </div>
                        <button type="submit" class="bg-primary text-white border border-primary hover:bg-transparent hover:text-primary py-2 px-3 rounded-full w-full">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}