{% extends 'account/base.html' %}
{% load static %}

{% block title %} Password Reset {% endblock %}

{% block content %}

  <section id="register-login-page" class="bg-white py-16">
        <div class="container mx-auto px-4">
            <div class="flex justify-center">
                <div class="w-full md:w-1/2 bg-white rounded-lg shadow-md p-4 md:p-10 md:m-10">
                    <h2 class="text-2xl font-semibold mb-4">Password Reset</h2>
                    <form method="POST" action="#" novalidate>
                        {% csrf_token %}
                        <div class="mb-3 relative">
                            <label for="password" class="block ">Password</label>
                            <input type="password" id="password" name="new_password1" class="w-full px-4 py-2 border rounded-full focus:ring-2 focus:ring-primary focus:outline-none pr-10" required>
                             <!-- Eye Icon -->
                            <button type="button" onclick="togglePassword('password', this)"
                            class="absolute right-4 top-9 text-gray-500 hover:text-primary focus:outline-none">
                            <i data-lucide="eye" id="eyeIcon" class="w-6 h-6"></i>
                            </button>
                            {% if form.new_password1.errors %}
                                <div class="text-red-500 text-sm mt-1">
                                    {% for error in form.new_password1.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3 relative">
                            <label for="confirm_password" class="block ">Confirm Password</label>
                            <input type="password" id="confirm_password" name="new_password2" class="w-full px-4 py-2 border rounded-full focus:ring-2 focus:ring-primary focus:outline-none pr-10" required>
                             <!-- Eye Icon -->
                            <button type="button" onclick="togglePassword('confirm_password', this)"
                            class="absolute right-4 top-9 text-gray-500 hover:text-primary focus:outline-none">
                            <i data-lucide="eye" id="eyeIcon" class="w-6 h-6"></i>
                            </button>
                            {% if form.new_password2.errors %}
                                <div class="text-red-500 text-sm mt-1">
                                    {% for error in form.new_password2.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="bg-primary text-white border border-primary hover:bg-transparent hover:text-primary py-2 px-3 rounded-full w-full">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
<script src="https://unpkg.com/lucide@latest"></script>
<script>
        document.addEventListener('DOMContentLoaded', () => {
            lucide.createIcons();
        });

      function togglePassword(fieldId, btn) {
            const input = document.getElementById(fieldId);
            const isPassword = input.type === "password";
            input.type = isPassword ? "text" : "password";

            btn.innerHTML = `<i data-lucide="${isPassword ? "eye-off" : "eye"}" class="w-6 h-6"></i>`;
            lucide.createIcons(); 
        }
</script>
{% endblock script %}